html, body {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#canvasDiv {
  position: relative;
  width:100%; 
  height:100%;
}

#canvas {
    width   : 100%;
    height  : 100%;
    touch-action: none;
}

#blocklyDiv {
  position: absolute;
  top: 20px;
  left: 30px;
  height: 500px;
  width: 400px;    
  /*background: rgba(255,255,255,0.5);
  opacity: 0.5;*/
}

#logo {
  position: absolute;
  top: 10px;
  right: 10px;
}